<h1>Rain Sun</h>



<p>
Hello! Welcome to my page!
</p>
<p>
Here is my homepage: <%= link_to 'https://github.com/Rain-Sun'%>
</p>
<%=image_tag("A-kitten-with-ears-flattened-or-back-angry.jpg")%>
<p>
<%= link_to 'Home', home_path %>

</p>